
.col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.crad-light .card {
    border-color: #e0e5f3;
    box-shadow: 0 0 40px 0 rgb(234 238 249 / 50%);
    border-radius: 0;
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}

.mt-4, .my-4 {
    margin-top: 1.5rem!important;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}
*, :after, :before {
    box-sizing: border-box;
}
.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}
.profile-img[_ngcontent-sbt-c111] img[_ngcontent-sbt-c111] {
    max-width: 150px;
    max-height: 170px;
}
.fa-pencil{
    margin-left: 950px;
   
}
.pencil {
    margin-left: 950px;
    margin-top: auto;
}