<button class="btn btn-primary" routerLink="/blog/new">Add Blog</button>

<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Languages</th>
      <th scope="col">Action</th>

    </tr>
  </thead>
  <tbody>
<!-- changed logic for resolving deleting bug -->
    <tr *ngFor="let element of BlogService.arr; let i = index">
      <td (click)="onclick(i)">{{i}}</td>
      <td (click)="onclick(i)">{{element.title}}</td>
      <td (click)="onclick(i)"> {{element.author}}</td>
      <td (click)="onclick(i)" *ngFor="let item of element.languages">{{item.language_text}}</td>
      <td><a (click)="onEdit(i)" style="color: blue;">Edit</a></td>
      <td> <a (click)="onDelete(element)" style="color: rgb(250, 1, 1);">Delete</a></td>
    </tr>

  </tbody>
</table>