<div class="modal-header">
    <h4 class="modal-title">Edit Profile Summary</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm.value)">

              <div *ngFor="let item of this.fetchDetail.arr" >
                
              <div>
                <label for="jobtitle">Job Title</label>
                <input type="text" class="form-control"  name="jobTitle" [(ngModel)]="details.jobTitle" >
              </div>

              <div>
                <label for="jobtitle">Employment Type</label>
                <select class="form-control" name="employmentTypeName" [(ngModel)]="details.employmentTypeName">
                 <option *ngFor="let item of this.fetchDetail.empType"  [ngValue]="item.label"  (click)="onEmpChange(item.label)">
                      {{item.label}}
                 </option>
                </select>
            </div>

            

            <div>
                <label>Company Name</label>
                <input type="text" class="form-control" name="companyName" [(ngModel)]="details.companyName">
            </div>

            <div >
                <h4>Job Location</h4>
                <div >
                  <label>Country</label>
                  <select  name="countryName" (click)="onSelectCountry(details.countryId)" [(ngModel)]="details.countryId" >
                    <option  *ngFor="let item of this.fetchDetail.expcountry" (click)="onSelectCountry(item.id)" [ngValue]="item.id" >
                    {{ item.label }}
                    </option>
                </select>
                </div>

                <div>
                  <label>Governorate
                  <select  name="governorateName" [(ngModel)]="details.governorateId" (click)="onSelectGovernates(details.governorateId)">
                    <option *ngFor="let item of GovernateFromCountry" (click)="onSelectGovernates(item.id)" [ngValue]="item.id"> 
                      {{item.label}}
                    </option>
                  </select>
                </label>
                </div>

                <div>
                  <label>Wilayat
                  <select  name="wilayatName" [(ngModel)]="details.wilayatId" (click)="onSelectWilayat(details.wilayatId)">
                    <option *ngFor="let item of wilayatFromGovernate" (click)="onSelectWilayat(item.id)" [ngValue]="item.id"> 
                      {{item.label}}
                    </option>
                  </select>
                </label>
                </div>

                <div>
                  <label for="dob">Start Date
                    <input type="date"  name="startDate"  ngModel="{{details.startDate|date:'yyyy-MM-dd' }}"  placeholder="select date">
                </label>
                </div>

                <div>
                  <input name="presentJob" type="checkbox"  [(ngModel)]="theCheckbox" (change)="onChange($event)">Present on this job
                  
                </div>

                <div [hidden]="theCheckbox == true">
                  <label for="dob">End Date
                    <input type="date"  name="endDate"  ngModel="{{details.endDate|date:'yyyy-MM-dd' }}"  placeholder="select date">
                </label>
                </div>

                <div>
                  <label>Job Description</label>
                  <input type="text" name="jobDescription" ngModel="{{details.jobDescription }}">
              </div>

            </div>

              </div>
          

  <div class="modal-footer">
    <button   type="submit" class="btn btn-outline-dark" (click)="onDelete()">Delete</button>

    <button class="log-in" type="submit" class="btn btn-outline-dark" [disabled]="!contactForm.valid"> Save</button>

    <!-- <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button> -->
  </div>
  </form>

