

<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Tags</th>
        <th scope="col">Action</th>
        
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let element of BlogService.arr; let i = index">
        <td (click)="onclick(element.id)">{{element.id}}</td>
        <td (click)="onclick(element.id)">{{element.title}}</td>
        <td (click)="onclick(element.id)"> {{element.author}}</td>
        <td (click)="onclick(element.id)" *ngFor="let item of element.tags">{{item.item_text}}</td>
        <td><a (click)="onEdit(element.id)" style="color: blue;" >Edit</a> <a (click)="onDelete(element.id)" style="color: red; padding: 50px;">Delete</a></td>
        
      </tr>
    
    </tbody>
  </table>

