<div class="modal-header">
    <h4 class="modal-title">Add Profile Summary</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm.value)">

              <div>
                
              <div>
                <label for="jobtitle">Job Title</label>
                <input type="text" class="form-control"  name="jobTitle" ngModel >
              </div>

              <div>
                <label for="jobtitle">Employment Type</label>
                <select class="form-control" name="employmentTypeName" ngModal (change)="onEmploymentTypeChange($event)"  >
                 <option *ngFor="let item of this.fetchDetail.empType" (change)="onEmploymentTypeChange($event)" [ngValue]="item.label"  >
                      {{item.label}}
                 </option>
                </select>
            </div>

            

            <div>
                <label>Company Name</label>
                <input type="text" class="form-control" name="companyName" ngModel   >
            </div>

            <div >
                <h4>Job Location</h4>
                <div >
                  <label>Country</label>
                  <select name="countryName" ngModal  (click)="onSelectCountry($event)">
                    <option  *ngFor="let item of this.fetchDetail.expcountry"  [ngValue]="item.label" >
                    {{ item.label }}
                    </option>
                </select>
                </div>

                <div>
                  <label>Governorate
                  <select  name="governorateName" ngModal (click)="onSelectGovernates($event)" >
                    <option *ngFor="let item of GovernateFromCountry" [ngValue]="item.label"> 
                      {{item.label}}
                    </option>
                  </select>
                </label>
                </div>

                <div>
                  <label>Wilayat
                  <select  name="wilayatId" ngModel >
                    <option *ngFor="let item of wilayatFromGovernate" (click)="onSelectWilayat(item.id)" [ngValue]="item.id"> 
                      {{item.label}}
                    </option>
                  </select>
                </label>
                </div>

                <div>
                  <label for="dob">Start Date
                    <input type="date"  name="startDate"  ngModel   placeholder="select date">
                </label>
                </div>

                <div>
                  <input name="presentJob" type="checkbox"  [(ngModel)]="theCheckbox" (change)="onChange($event)">Present on this job 
                </div>

                <div [hidden]="theCheckbox == true">
                  <label for="dob">End Date
                    <input type="date"  name="endDate"  ngModel   placeholder="select date">
                </label>
                </div>

                <div>
                    <label>Job Description</label>
                    <input type="text" name="jobDescription" ngModel>
                </div>

                

            </div>

              </div>
          

  <div class="modal-footer">
    <button class="log-in" type="submit" class="btn btn-outline-dark" [disabled]="!contactForm.valid"> Save</button>

    <!-- <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button> -->
  </div>
  </form>

